<div class="container" style="display: flex; justify-content: center">
  <div class="col-md-8">
    <mat-card style="margin-top: 100px">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Product Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Enter product name"
          />
          <mat-error *ngIf="productForm.get('name')?.hasError('required')">
            Product name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>SKU</mat-label>
          <input matInput formControlName="sku" placeholder="Enter SKU" />
          <mat-error *ngIf="productForm.get('sku')?.hasError('required')">
            SKU is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Cost</mat-label>
          <input
            matInput
            type="number"
            formControlName="cost"
            placeholder="Enter cost"
          />
          <mat-error *ngIf="productForm.get('cost')?.hasError('required')">
            Cost is required
          </mat-error>
          <mat-error *ngIf="productForm.get('cost')?.hasError('min')">
            Cost must be a positive number
          </mat-error>
        </mat-form-field>

        <form  [formGroup]="profileForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Profile</mat-label>
            <input
              matInput
              formControlName="profile"
              placeholder="Enter profile"
            />
            <mat-error *ngIf="productForm.get('profile')?.hasError('required')">
              Profile is required
            </mat-error>
          </mat-form-field>
        </form>

        <button mat-flat-button color="primary" type="submit">
          Create Product
        </button>
      </form>
    </mat-card>
  </div>
</div>
